body{
    background-color: #2424DD;
}
/* Graphs text styling */
.graph-header{
    size:2em;
    text-align: center;
    color:#F95A35;
}
.page-header{
    text-align: center;
    color:#F95A35;
}

/* ------------------- Navigation -------------------- */
  #nav-link-container{
    display:flex;
    margin-bottom:2em;
    text-align:center;
    justify-content:center;
  }

  #iris-header{
    color:#F95A35;
    text-align:center;
    font-size:2.5em
  }

  a:link {
    text-decoration: none;
    color:#F95A35;
  }
  
  a:visited {
    text-decoration: none;
    color:#F95A35;
  }
  
  a:hover {
    text-decoration: underline;
    color:grey;
  }
  
  a:active {
    text-decoration: underline;
  }